<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pattern</title>
</head>
<body>
    <div class="container">
        <div class="contentI m-5">
            Write a program that produce the following output giving an integer input n.
        </div>
        <div class="pattern">
            <input #patTernI >
            <button class="btn btn-outline-info btn-sm" (click)="patternI(patTernI.value)">PATTERN1</button>
        </div>
        <div class="pattern">
            <input #patTernII >
            <button class="btn btn-outline-info btn-sm" (click)="patternII(patTernII.value)">PATTERN2</button>
        </div>
        <div class="pattern">
            <input #patTernIII >
            <button class="btn btn-outline-info btn-sm" (click)="patternIII(patTernIII.value)">PATTERN3</button>
        </div>
        <div class="pattern">
            <input #patTernIV >
            <button class="btn btn-outline-info btn-sm" (click)="patternIV(patTernIV.value)">PATTERN4</button>
        </div>
        <div class="pattern">
            <input #patTernV >
            <button class="btn btn-outline-info btn-sm" (click)="patternV(patTernV.value)">PATTERN5</button>
        </div>
        <div class="pattern">
            <input #patTernVI >
            <button class="btn btn-outline-info btn-sm" (click)="patternVI(patTernVI.value)">PATTERN6</button>
        </div>
    </div>
</body>
</html>