<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FizzBuzz</title>
</head>
<body>
    <div class="container">
        <div class="contentI m-5">
            Write a program that prints the numbers from 1 to 100. But for multiples of three print “Fizz” 
            instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples 
            of both three and five print “FizzBuzz”.
        </div>
        <div class="fizzbuzz">
            <button class="btn btn-outline-info btn-sm" (click)="Fizzbuzz(100)">FIZZBUZZ</button>
        </div>

    </div>
</body>
</html>