.form {
    margin-top: 50px;
    text-align: center;
    width: 100%;
}
.bt {
    color: #FFFFFF;
    background-color: green;
    padding: 5px;
    border-radius: 5px ;
    border: none;
}
.bt:hover {
    background-color: black;
}