<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active-link" ariaCurrentWhenActive="page" >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"routerLink="fizzbuzz" routerLinkActive="active-link" ariaCurrentWhenActive="page">Fizzbuzz</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"routerLink="leapyear" routerLinkActive="active-link" ariaCurrentWhenActive="page">Leapyear</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"routerLink="pattern" routerLinkActive="active-link" ariaCurrentWhenActive="page">Pattern</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"routerLink="prime" routerLinkActive="active-link" ariaCurrentWhenActive="page">Prime</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</body>
</html>
