<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    
      <div class="contentI">
        <div class="hello  mt-5 mb-5">
            Hello World
        </div>
        <div class="text-center">
            <img src="./assets/immage.jpg"  class="rounded-circle" alt="">
        </div>
        <div class="profile">
            <div class="name mt-5 mb-5">Suthasinee Phasiw</div>
            <div class="me p-3">
              <div class="container about-me">
                Hello, I'm Immage. I useed to be an intern as an HTML Editor. I have a good understanding 
              of HTML CSS SCSS. Now, I'm leaning how to use Angular and I'm very responsible and able to socialize.
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
