<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    
      <div class="contentI">
        <div class="hello  mt-5 mb-5">
            {{ head }}
        </div>
        <div class="text-center">
            <img src="./assets/immage.jpg"  class="rounded-circle" alt="">
        </div>
        <div class="profile">
            <div class="name mt-5 mb-2"> {{ name }} </div>
            <div class="pos mb-5"> {{ position }} </div>
            <div class="me p-3">
              <div class="container about-me">
                {{ description }}
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
